<!-- templates/edit_user.html -->
{% extends 'base.html' %}

{% block title %}Edit a user{% endblock %}

{% block content %}
<h2>Edit a user</h2>
<form method="POST" action="/users/{{ user.id }}/edit">
    <p>First Name:
    <input type="text" name="first_name" value="{{ user.first_name }}" required>
    </p>

    <p>Last Name:
    <input type="text" name="last_name" value="{{ user.last_name }}" required>
    </p>

    <p>Image URL:
    <input type="url" name="image_url" value="{{ user.image_url }}">
    </p>

    <button type="submit" class="btn btn-success">Save</button>
    <a href="/users/{{ user.id }}" class="btn btn-secondary">Cancel</a>
</form>
{% endblock %}
